
<div class="tabs">
       	  <div class="tabber">

     <div class="tabbertab">
	   <h2>Observe</h2>
	  
	  
	  <div style="float:left; width:30%; height:auto"><%= image_tag @json["data"]["current_condition"][0]["weatherIconUrl"][0]["value"] %></div>
	  
	    <div style="float:left; width:70%; height:auto">
		
      <table width="50%" class="table table-striped">
              
              <tbody>
                <tr>
                 
                  <th>City</th>
                  <td><%= @json["data"]["request"][0]["query"]%></td>
                </tr>
                
                <% @json["data"]["current_condition"].each do |current| %>
                <tr>
                  <th>Observation Time</th>
                  <td><%= current["observation_time"] %></td>
                </tr>
                <tr>
                  <th>Temperature Celsius</th>
                  <td><%= current["temp_C"] %> &deg; C</td>
                </tr>
                <tr>
                  <th>Temperature Farenheit</th>
                  <td><%= current["temp_F"] %> F</td>
                </tr>
                <tr>
                  <th>Weather Code</th>
                  <td><%= current["weatherCode"] %></td>
                </tr>
                
                <tr>
                  <th>Description</th>
                  <td><%= current["weatherDesc"][0]["value"] %></td>
                </tr>
                <tr>
                  <th>Wind Speed Miles</th>
                  <td><%= current["windspeedMiles"] %></td>
                </tr>
                <tr>
                  <th>Wind speed Kmph</th>
                  <td><%= current["windspeedKmph"] %></td>
                </tr>
                <tr>
                  <th>Wind direction Degree</th>
                  <td><%= current["winddirDegree"] %></td>
                </tr>
                <tr>
                  <th>Wind direction 16 Point</th>
                  <td><%= current["winddir16Point"] %></td>
                </tr>
                <tr>
                  <th>precip MM</th>
                  <td><%= current["precipMM"] %></td>
                </tr>
                <tr>
                  <th>Humidity</th>
                  <td><%= current["humidity"] %> </td>
                </tr>
                <tr>
                  <th>Visibility</th>
                  <td><%= current["visibility"] %></td>
                </tr>
                <tr>
                  <th>Pressure</th>
                  <td><%= current["pressure"] %></td>
                </tr>
                <tr>
                  <th>Cloud cover</th>
                  <td><%= current["cloudcover"] %></td>
                </tr>
                <tr>
                  <th>Feels Like C</th>
                  <td><%= current["FeelsLikeC"] %></td>
                </tr>
                <tr>
                  <th>Feels Like F</th>
                  <td><%= current["FeelsLikeF"] %></td>
                </tr>
                <% end %>
              </tbody>
        </table>
		
		</div>
     </div>
     
    <% @json["data"]["weather"].each do |weather| %>
     <div class="tabbertab">
	  <h2><%= weather["date"] %></h2>
	  
	  
	    <div style="float:left; height:auto">
	    <%  weather["astronomy"].each do  |b| %> 
      <table class="table table-striped">
              
              <tbody>
                <tr>
                 
                  <th>Sunrise</th>
                  <td><%= b["sunrise"] %></td>
                </tr>
                <tr>
                  <th>Sunset</th>
                  <td><%= b["sunset"] %></td>
                </tr>
                <tr>
                  <th>Moonrise</th>
                  <td><%= b["moonrise"] %></td>
                </tr>
                <tr>
                  <th>Moonset</th>
                  <td><%= b["moonset"] %></td>
                </tr>
                <tr>
                  <th>Maximum Temperature Celsius</th>
                  <td><%= b["maxtempC"] %> C</td>
                </tr>
                <tr>
                  <th>Minimum Temperature Celsius</th>
                  <td><%= b["mintempC"] %> C</td>
                </tr>
                <tr>
                  <th>Maximum Temperature Farenheit</th>
                  <td><%= b["maxtempF"] %> F</td>
                </tr>
                <tr>
                  <th>Minimum Temperature Farenheit</th>
                  <td><%= b["mintempF"] %> F</td>
                </tr>
                
              </tbody>
        </table>
        <% end%>
        
        <table class="table table-striped">
        <tr><td colspan="2">Hourly</td></tr>
        
        <% weather["hourly"].each do |h| %>
          <tr>
            <th>Time</th>
            <td><%= h["time"] %></td>
          </tr>
          
          <tr>
            <th>Temp Celsius</th>
            <td><%= h["tempC"] %> C</td>
          </tr>
          
          <tr>
            <th>Temp Farenheit</th>
            <td><%= h["tempF"] %> F</td>
          </tr>
        
          <tr>
            <th>Wind speed Miles</th>
            <td><%= h["windspeedMiles"] %></td>
          </tr>
          <tr>
            <th>Wind speed Kmph</th>
            <td><%= h["windspeedKmph"] %> </td>
          </tr>
          <tr>
            <th>Wind direction degree</th>
            <td><%= h["winddirDegree"] %></td>
          </tr>
          <tr>
            <th>Wind direction point</th>
            <td><%= h["winddir16Point"] %> </td>
          </tr>
          <tr>
            <th>Weather Code</th>
            <td><%= h["weatherCode"] %> </td>
          </tr>
          <tr>
            <th>Weather Icon</th>
            <td><%= image_tag h["weatherIconUrl"][0]["value"] %> </td>
          </tr>
          <tr>
            <th>Description</th>
            <td><%= h["weatherDesc"][0]["value"] %> </td>
          </tr>
          <tr>
            <th>PrecipMM</th>
            <td><%= h["precipMM"] %> </td>
          </tr>
          <tr>
            <th>Humidity</th>
            <td><%= h["humidity"] %> </td>
          </tr>
          <tr>
            <th>Visibility</th>
            <td><%= h["visibility"] %> </td>
          </tr>
          <tr>
            <th>Pressure</th>
            <td><%= h["pressure"] %> </td>
          </tr>
          <tr>
            <th>Cloud cover</th>
            <td><%= h["cloudcover"] %> </td>
          </tr>
          <tr>
            <th>Heat Index C</th>
            <td><%= h["HeatIndexC"] %> </td>
          </tr>
          <tr>
            <th>Heat Index F</th>
            <td><%= h["HeatIndexF"] %> </td>
          </tr>
          <tr>
            <th>DewPointC</th>
            <td><%= h["DewPointC"] %> </td>
          </tr>
          <tr>
            <th>DewPointF</th>
            <td><%= h["DewPointF"] %> </td>
          </tr>
          <tr>
            <th>Wind Chill C</th>
            <td><%= h["WindChillC"] %> </td>
          </tr>
          <tr>
            <th>Wind Chill F</th>
            <td><%= h["WindChillF"] %> </td>
          </tr>
          <tr>
            <th>Wind Gust Miles</th>
            <td><%= h["WindGustMiles"] %> </td>
          </tr>
          <tr>
            <th>Wind Gust Kmph</th>
            <td><%= h["WindGustKmph"] %> </td>
          </tr>
          <tr>
            <th>Feels Like C</th>
            <td><%= h["FeelsLikeC"] %> </td>
          </tr>
          <tr>
            <th>Feels Like F</th>
            <td><%= h["FeelsLikeF"] %> </td>
          </tr>
          <tr>
            <th>Chance of rain</th>
            <td><%= h["chanceofrain"] %> </td>
          </tr>
          <tr>
            <th>Chance of remdry</th>
            <td><%= h["chanceofremdry"] %> </td>
          </tr>
          <tr>
            <th>Chance of windy</th>
            <td><%= h["chanceofwindy"] %> </td>
          </tr>
          <tr>
            <th>Chance of overcast</th>
            <td><%= h["chanceofovercast"] %> </td>
          </tr>
          <tr>
            <th>Chance of sunshine</th>
            <td><%= h["chanceofsunshine"] %> </td>
          </tr>
          <tr>
            <th>Chance of frost</th>
            <td><%= h["chanceoffrost"] %> </td>
          </tr>
          <tr>
            <th>Chance of high temp</th>
            <td><%= h["chanceofhightemp"] %> </td>
          </tr>
          <tr>
            <th>Chance of fog</th>
            <td><%= h["chanceoffog"] %> </td>
          </tr>
          <tr>
            <th>Chance of snow</th>
            <td><%= h["chanceofsnow"] %> </td>
          </tr>
          <tr>
            <th>chance of thunder</th>
            <td><%= h["chanceofthunder"] %> </td>
          </tr>

        <% end %>
        
         </table>
		
		</div>
     </div>

     <% end %>
     
     
     
     
      <div class="tabbertab">
 	    <h2>Climate Averages</h2>
 	    <div style="float:left; height:auto">
 	    
 	    <% @json["data"]["ClimateAverages"][0]["month"].each do |a| %>
       <table class="table table-striped">
       <tr>
          <td>Name</td>
          <td><%= a["name"]%></td>
       </tr>
       <tr>
           <td>Absolute Maximum Temperature Celsius</td>
           <td><%= a["absMaxTemp"]%></td>
        </tr>
        <tr>
            <td>Absolute Maximum Temperature Fahrenheit</td>
            <td><%= a["absMaxTemp_F"]%></td>
         </tr>
         <tr>
             <td>Average Minimun Temperature Celsius</td>
             <td><%= a["avgMinTemp"]%></td>
          </tr>
          <tr>
               <td>Average Minimun Temperature Fahrenheit</td>
               <td><%= a["avgMinTemp_F"] %></td>
          </tr>
          <tr>
              <td colspan="2">&nbsp;</td>
          </tr>
       </table>
      
       <% end %>
		
		</div>
    </div>
     
	 
	 

</div>
          
           <div class="clear"></div>       
  </div>
