
<% @a ||= [] %>
<% @json["search_api"]["result"].each do |a| %>
<% @a << a %>
<%end%>

<div class="tabs">
   <div class="tabber">
   
    <div style="float:left; width:100%; height:auto">
		
     <table width="100%" class="table table-striped">
     <% @a.each do |i| %>
      <tr>
        <th>Area Name</th>
        <td><%= i["areaName"][0]["value"] %></td>
      </tr>
      <tr>
        <th>Country</th>
        <td><%= i["country"][0]["value"] %></td>
      </tr>
      <tr>
        <th>Latitude</th>
        <td><%= i["latitude"] %></td>
      </tr>
      <tr>
        <th>Longitude</th>
        <td><%= i["longitude"] %></td>
      </tr>
      <tr>
        <th>Region</th>
        <td><%= i["region"][0]["value"] rescue nil %></td>
      </tr>
      <tr>
        <th>Population</th>
        <td><%= i["population"] %></td>
      </tr>
      <tr>
        <th>URL</th>
        <td><a href="<%= i["weatherUrl"][0]["value"] %>" target="_blank"><%= i["weatherUrl"][0]["value"] %></a></td>
      </tr>
      <tr><td colspan="2"></td></tr>
      <% end %>
      </table>
		
		</div>
  </div>
</div>