
<div class="tabs">
   <div class="tabber">
   
    <div style="float:left; width:100%; height:auto">
		
     <table width="100%" class="table table-striped">
     <% @data1.css("result").each do |result| %>
      <tr>
        <th>Area Name</th>
        <td><%= result.css("areaName").text %></td>
      </tr>
      <tr>
        <th>Country</th>
        <td><%= result.css("country").text %></td>
      </tr>
      <tr>
        <th>Latitude</th>
        <td><%= result.css("latitude").text %></td>
      </tr>
      <tr>
        <th>Longitude</th>
        <td><%= result.css("longitude").text %></td>
      </tr>
      <tr>
        <th>Region</th>
        <td><%= result.css("region").text %></td>
      </tr>
      <tr>
        <th>Population</th>
        <td><%= result.css("population").text %></td>
      </tr>
      <tr>
        <th>URL</th>
        <td><a href="<%= result.css("weatherUrl").text %>" target="_blank"><%= result.css("weatherUrl").text %></a></td>
      </tr>
      <tr><td colspan="2"></td></tr>
      <% end %>
      </table>
		
		</div>
  </div>
</div>